Repository rodgeraraujo/juno-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.js": "eslint --fix",
    "*.{json,md,ts}": "prettier --write"
}

feat: refactor options with suport to use in production
  index.js
  mixins/base-child.js
  mixins/index.js
  resources/authorization.js
Due: eslint --fix

feat: reafactor client hash base64
  index.js
Due: eslint --fix

feat: refactor baseHeaders
  index.js
  mixins/base-child.js
  mixins/index.js
Due: eslint --fix

fix: uri hostname
  index.js
  resources/balance.js
Due: eslint --fix

refactor: rename secretId into clientId
  index.js
Due: eslint --fix

fix: payment request
  index.js
  resources/credential.js
  resources/payment.js
Due: eslint --fix

fix: list for resources bank, businessArea and companyTypes
  mixins/base-child.js
  mixins/index.js
  resources/bank.js
  resources/business-area.js
  resources/company-types.js
  resources/index.js
Due: eslint --fix

docs(api): add new description of usage
  README.md
Due: prettier --write

chore: add tests coverage output
  package-lock.json
  package.json
Due: prettier --write

feat: adds TypeScript definitions
  index.d.ts
Due: prettier --write

refactor(authorization): refactoring to use global request method
  index.js
  mixins/base-child.js
  mixins/base.js
  mixins/juno-authorization.js
  resources/authorization.js
  resources/balance.js
  resources/charge.js
  resources/credential.js
  resources/credit-card.js
  resources/digital-account.js
  resources/payment.js
Due: eslint --fix

docs: update README documentation
  README.md
  package.json
Due: prettier --write

docs: create CHANGELOGs file
  .npmignore
  CHANGELOG.md
Due: prettier --write

chore(release): v0.2.0
  package-lock.json
  package.json
Due: prettier --write

docs: update CHANGELOG for v0.2.0
  CHANGELOG.md
Due: prettier --write

fix: mixins invalid isProd parameter definition
  mixins/base-child.js
  mixins/base.js
  mixins/juno-authorization.js
Due: eslint --fix

ci: use GitHub Actions
  .github/workflows/ci.yml
Due: none

chore: adds github workflow for deploying to NPM
  .github/workflows/npm-publish.yml
Due: none

chore(release): v0.2.1
  package-lock.json
  package.json
Due: prettier --write

docs: update CHANGELOG for v0.2.1
  CHANGELOG.md
Due: prettier --write

chore: remove publish-gpr from github workflow
  .github/workflows/npm-publish.yml
Due: none

chore: run test on push
  .huskyrc.json
  .lintstagedrc.json
Due: prettier --write

docs: update readme with new badge style
  README.md
Due: prettier --write

chore: setup codecov
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: prettier --write

docs: add contributors and build badge
  README.md
Due: prettier --write

feat: transfer resource
  resources/index.js
  resources/transfer.js
Due: eslint --fix

fix: resolve #11 creditCardToken undefined, and added type definition for creditCard
  index.d.ts
Due: prettier --write

fix: use creditCard instead creditCardToken
  README.md
Due: prettier --write

chore(release): v0.2.2
  package-lock.json
  package.json
Due: prettier --write

feat: setup stale issue
  .github/workflows/stale-issues.yml
Due: none
